/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

/* colours */
:root {
  --grey: #d9d9d9;
  --white: #ffffff;
  --black: #000000;
  --grey:rgb(217,217,217)
}
.bookingstitle h1{
  padding-top: 80px;
}
  .bookingstitle h2{
    padding-top: 50px;
  }
  .bookingstitle h3{
    padding-top: 20px;
    color: var(--grey);
  }
  .backgroundimage{
    background-image: url(./COS106/Images/freepik__upload__8086.png);
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: repeat;
  }
  .transbackground{
    position: absolute;
    margin-top: 30px;
    margin-left: 30px;
    padding: 20px;
    width: 90%;
    border-radius: 10px;
    opacity: 86%;
    align-items: center;
    background-color: rgb(217,217,217)
  }
  .inputgroup{
    display: grid;
    gap: 40px;
  }
  input , select{
    width: 30%;
    height: 30px;
    border-radius:30px;
    border: none;
  }
  .content{
    display: flex;
    
  }
  
  .calendar-base {
    width: 800px;
    height: 300px;
    border-radius: 20px;
    background-color: white;
    position: relative;
    z-index: -1;
    color: black;
  }
  
  .year {
    color: #E8E8E8;
    font-size: 10px;
    float: right;
    position: relative;
    right: 75px;
    top: 20px;
    font-weight: bold;
  }
  
  .triangle-left {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 10px solid #E8E8E8;
    border-bottom: 5px solid transparent;
    float: right;
    position: relative;
    right: 90px;
    top: 36px;
  }
  
  .triangle-right {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 10px solid #E8E8E8;
    border-bottom: 5px solid transparent;
    float: right;
    position: relative;
    left: 20px;
    top: 36px;
  }
  .triangle-left:hover{
    border-right: 10px solid#2ECC71;
  }
  .triangle-right:hover{
    border-left: 10px solid#2ECC71;
  }
  
  .month-color {
    color: #27AE60;
  }
  .month-hover:hover{
    color:#27e879 !important;
  }
  
  .months {
    color: #AAAAAA;
    position: relative;
    left: 250px;
    top: 30px;
    word-spacing: 15px;
  }
  
  /* .month-line {
    border-color: #E8E8E8;
    position: relative;
    top: 40px;
    width: 60%;
    left: 178px;
  } */
  
  .days {
    color: #AAAAAA;
    position: relative;
    font-size: 10px;
    left: 300px;
    top: 50px;
    word-spacing: 50px;
    font-weight: 600;
  }
  
  .num-dates {
    float: right;
    position: relative;
    top: 80px;
    right: 5px;
    z-index: 1;
  }
  
  .first-week {
    margin-bottom: 25px;
    word-spacing: 55px;
  }
  
  .second-week {
    margin-bottom: 25px;
    word-spacing: 53px;
  }
  
  .third-week {
    margin-bottom: 25px;
    word-spacing: 58px;
  }
  
  .fourth-week {
    margin-bottom: 25px;
    word-spacing: 58px;
  }
  
  .fifth-week {
    margin-bottom: 25px;
    word-spacing: 40px;
  }
  
  .sixth-week {
    margin-bottom: 25px;
    word-spacing: 5px;
  }
  
  .active-day {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #2ECC71;
    position: relative;
    top: 295px;
    left: 661px;
  }
  
  .white {
    color: white;
  }
  
  .event-indicator {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #2980B9;
    position: relative;
    top: 304px;
    left: 695px;
  }
  
  .two {
    position: relative;
    top: 168px;
    left: 535px;
  }
  
  .grey {
    color: #AAAAB1;
  }
  
  .calendar-left {
    width: 30%;
    height: 30%;
    border-radius: 20px 0px 0px 20px;
    background-color: #2ECC71;
    position: relative;
    z-index: -1;
    bottom: 500px;
    color: white;
  }
  
  .hamburger {
    position: relative;
    top: 25px;
    left: 25px;
  }
  
  .burger-line:hover, .hamburger:hover{
    background-color:#27e879 !important;
  }
  
  .burger-line {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 15%;
    margin-bottom: 3px;
  }
  
  .num-date {
    font-size: 50px;
    width: 50%;
    margin: 0 auto;
    font-weight: 700;
  }
  
  .day {
    width: 50px;
    margin: 0px auto;
    font-size: 20px;
    position: relative;
    bottom: 60px;
  }
  
  .current-events {
    font-size: 5px;
    position: relative;
    margin-left: 25px;
    bottom: 30px;
  }
  
  .posts {
    text-decoration: underline dotted;
  }
  .posts:hover{
    color:#27e879 !important;
  }
  
  .event-line {
    width: 90%;
  }
  
