/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

/* colours */
:root {
  --grey: #d9d9d9;
  --white: #ffffff;
  --black: #000000;
  --grey:rgb(217,217,217)
}
body{
  background:#e0e0e0 ;
}
.bookingstitle h1{
  padding-top: 80px;
}
  .bookingstitle h2{
    padding-top: 50px;
  }
  .bookingstitle h3{
    padding-top: 20px;
    color:  #696a6a;
  }
  .backgroundimage{
    background-image: url(./COS106/Images/freepik__upload__8086.png);
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: repeat;
  }
  .transbackground{
    position: absolute;
    margin-top: 30px;
    margin-left: 30px;
    padding: 20px;
    width: 90%;
    border-radius: 10px;
    opacity: 86%;
    align-items: center;
    background-color: rgb(217,217,217)
  }
  .inputgroup{
    display: grid;
    gap: 30px;
  }
  input , select{
    width: 350px;
    height: 50px;
    border-radius:30px;
    border: none;
    margin-top: 30px;
  }
  .content{
    display:flex;
    height: 430px;
  }
  .calendar-container {
    width: 40%;
    max-width: 500px;
    margin: 30px auto;
    padding: 5px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: absolute;
    margin-left: 20%;
}

/* Header */
.calendar-header {
    font-weight: bold;
    font-size: 18px;
    background: #333;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

/* Grid for Calendar */
.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-top: 10px;
}

.day {
    font-weight: bold;
}

.date {
    display: block;
    background: #ddd;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
}

.date:hover {
    background:  #696a6a;
    color: white;
}

/* Selected Date */
input[name="date"]:checked ~ .book-btn {
  background: #696a6a;
  color: white;
}
input[name="date"]:checked ~ .book-btn:hover {
  background: #333;
}

.book-btn  {
   display: grid;
   position: absolute;
    margin-top:400px;
    margin-left: 28%;
    padding: 10px;
    width: 30%;
    background: rgb(117, 113, 113);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3 ease;
}
.book-btn :hover {
  background: var(--grey);
  color: var(--white);
}
/* Responsive Design */
@media screen and (max-width: 600px) {
    .calendar-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
  
  