/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

/* colours */
:root {
  --grey: #d9d9d9;
  --white: #ffffff;
  --black: #000000;
}
.backgrounimage{
  background-image: url(./COS106/Images/freepik__upload__8086.png);
  width: 100px;
  height: 100px;
}