@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* colours */
:root {
  --grey: #d9d9d9;
  --white: #ffffff;
  --black: #000000;
}

/* general styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cinzel", serif;
}

a {

    text-decoration: none;
  }
  
  /*          nav styles start           */
  .burgerMenu {
    display: none;
  }
  
  .eventBG {
    background: url("./COS106/Images/events/event\ front\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: white;
    z-index: -999;
    opacity: 0.98;
    
  }
  
  .eventBG::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(215, 208, 207 0.5);
   
    z-index: -99;
  }
  
  .navbar {
    height: 15vh;
    /* z-index: 999; */
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding-top: 1.2rem;
  }
  
  .nav-links a {
    color: black;
  }
  
  .nav-links a:not(:last-child) {
    margin-right: 1.5rem;
    font-size: 1.2rem;
  }
  
  .nav-cart {
    width: 2rem;
  }
  
  .flag {
    width: 80%; 
    margin:20px 30px;
    font-size: 1.5rem;
    color: black;
  }
  