/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* colours */
:root {
  --grey: #d9d9d9;
  --white: #ffffff;
  --black: #000000;
}

/* general styling */

/* Entire products section */

.entire {
    background-color: var(--white);
    padding: 2rem;
    padding-top: 100px;
  }
  
  .entire h1 {
    width: 80%; 
    margin: 0 auto 2rem auto ;
  }

  .entire h2 {
    width: 80%; 
    margin: auto;
  }

  .productcard {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 3rem;
    padding: 1rem;
    margin: auto;
  }
  /* Product sections */
  .psection {
    margin: 3rem 0;
    position: relative;
  }

  /* Individual product */
  .card {
    background-color: var(--white);
    width: 13rem;
    padding: 0.5rem 1.5rem;
    margin: 1rem;
  }
  
  .row .img {
    width: 225px;
    height: 303px;
	  border-radius: 10px;
	  margin: auto;
	  display: flex;
	  justify-content: center;
  }
  
  .card p {
    font-size: 0.6rem;
  }
  .cart {
    background-color: var(--black);
    height: 2.5rem;
    display: flex;
    justify-content: center;
    border-radius: 10px;
  }
  
  .sub {
    display: flex;
    justify-content: space-between;
  }

  .gender {
    color: var(--grey);
  }

  .carticon {
    height: 2rem;
    padding: 0.5rem 0 0 0;
  }

  
  .bag {
    max-width: 100px;
    max-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  
  
.successMessageContainer {
  visibility: hidden;
  border-radius: 20px;
  background-color: white;
  width: 350px;
  margin: auto;
  padding: 2rem 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  box-shadow: 0px 0px 400px 111px rgba(186, 186, 186, 0.75);
  z-index: 9999;
}

.successMessageContainer.visible {
  visibility: visible;
}

.successMessageContainer img {
  margin-bottom: 1rem;
}

