@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* colours */
:root {
  /* --grey: #d9d9d9; */
  /* --white: #ffffff;
  --black: #000000; */
  --text-color: black;
  --main-color: #858585;
  --second-color: #858585;
  --bg-color: white;
  --big-font:3.5rem;
  --h2-font:2.6rem;
  --p-font: 1.1rem;
}

/* general styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Cinzel", serif; */
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}
body{
  background: var(--bg-color);
  color: var(--text-color);
}

/* navbar styling */
header{
  position: fixed;
  width: 100%;
  top: 0;
  right:0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 23px 11%;
  transition: all  .38s ease;
}
.logo{
  font-size: 30px;
  font-weight: 700;
  color: black;
  
}
span{
  color: var(--main-color);
  /* color: #668A01; */
}
.navbar{
  display: flex ;
}
.navbar a{
  color: var(--text-color);
  font-size: var(--p-font);
  font-weight: 600;
  padding: 5px 10px;
  margin: 2px 25px;
  border-bottom: 2px solid transparent;
  transition: all .38s ease; 
}
.navbar a:hover{
  border-bottom: 2px solid var(--main-color);
  color: var(--main-color);
}
.h-icons{
  display: flex;
  /* background: var(--main-color); */
  background: linear-gradient(to right,#302e29,#fffbf6);
  box-shadow: 0 2px 15px rgba(94, 78, 83, 0.26);
  border-radius: 5rem;
  padding: 10px 22px;
  align-items: center;
}
.h-icons i{
  font-size: 22px;
  color: var(--bg-color);
  margin-right: 15px;
  margin-left: 8px; 
}

header.sticky{
	padding: 10px 11%;
	background: var(--bg-color);
	box-shadow: 0px 4px 15px rgb(0 0 0 / 8%);
	}
/* home stylying */
section{
  padding: 60px 11% 50px;
}
.home{
  height: 88vh;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}
.home-img img{
  width: 100%;
  height: auto;
}
.home-text h1{
  font-size: var(--big-font);
  line-height: 1.2;
  margin-bottom: 2rem;
}
/* Entire products section */

<<<<<<<<< Temporary merge branch 1
.entire {
  background-color: var(--grey);
  padding: 2rem;
}

.entire h1 {
  width: 80%; 
  margin: auto;
}
.productcard {
  width: 80%;

.productcard {
  background-color: var(--grey);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  margin: auto;
}
=========
>>>>>>>>> Temporary merge branch 2

/* Individual product */
.card {
  background-color: var(--white);
  width: 15rem;
  border: 4px solid red;
  padding: 0.5rem 1.5rem;
  margin: auto;
}
.product-right h5{
	color: var(--main-color);
	font-size: 23px;
}
#menu-icon{
	font-size: 32px;
	color: var(--bg-color);
	z-index: 10001;
	cursor: pointer;
	display: none;
  }
.row p{
	color: var(--second-color);
	font-size: 15px;
	line-height: 30px;
	margin-bottom: 15px;
}
.star i{
	color: var(--main-color);
	font-size: 17px;
	margin-right: 4px;
}
.row:hover{
	transform: scale(1.02);
}


.scroll-top{
	position: fixed;
	bottom: 2.2rem;
	right: 2.2rem;
}
.scroll-top i{
	padding: 8px;
	font-size: 1.4rem;
	color: #fff;
	background: var(--main-color);
	border-radius: 5rem;
}

/* responsiveness */

@media (max-width: 1690px){
	section{
		padding: 70px 2%;
		transition: .2s;
	}
	header{
		padding: 11px 2%;
		transition: .2s;
	}
	header.sticky{
		padding: 8px 2%;
		transition: .2s;
	}

}

@media (max-width: 1290px){
	section{
		padding: 80px 2%;
		transition: .2s;
	}
	:root{
		--big-font: 3.2rem;
	  --h2-font: 2rem;
	  --p-font: 1rem;
	  transition: .2s;
	}
	.home{
		height: 80vh;
	}
	.main-text{
		text-align: center;
	}
}

@media (max-width: 880px){
	#menu-icon{
		display: block;
	}
	.navbar{
		position: absolute;
		top: 100%;
		right: -100%;
		width: 250px;
		height: 110vh;
		background: #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 180px 40px;
		transition: all .38s ease;
	}
	.navbar a{
		display: block;
		margin: 1.3rem 0;
	}
	.navbar.open{
		right: 0;
	}
}

@media (max-width: 820px){
	:root{
		--big-font: 3rem;
	  --h2-font: 1.8rem;
	  transition: .2s;
	}
	.home{
		grid-template-columns: 1fr;
		height: 114vh;
	}
	.home-img{
		text-align: center;
	}
	.home-img img{
		height: auto;
		max-width: 590px;
		width: 100%;
	}
	.home-text{
		padding-top: 50px;
	}
}

