/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");

/* colours */
:root {
  --grey: #d9d9d9;
  --white: #ffffff;
  --black: #000000;
}

/* general styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/*          nav styles start           */
.burgerMenu {
  display: none;
}

.navbar {
  height: 15vh;
  /* z-index: 999; */
  box-shadow: 0px 12px 38px -35px rgba(0, 0, 0, 0.75);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding-top: 1.2rem;
}

.nav-links a {
  color: var(--black);
}

.nav-links a:not(:last-child) {
  margin-right: 1.5rem;
  font-size: 1.2rem;
}

.nav-cart {
  width: 2rem;
}

/*       teams styling         */
.teamSection {
  font-family: "Poppins", sans-serif;
  width: 90%;
  margin: 3rem auto 0 auto;
}

.teamSectionText {
  margin-bottom: 2rem;
}

.teamSectionText h2 {
  font-size: 2.2rem;
  font-weight: 600;
}

.teamSectionText p {
  font-size: 1rem;
  font-weight: 400;
}

.eachTeamCard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.teamCard {
}

.teamCard:not(:last-child) {
  margin-bottom: 4rem;
}

.teamCard img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

.teamCard h4 {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.teamCard p {
  font-weight: 300;
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  .eachTeamCard {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 390px) {
  .eachTeamCard {
    grid-template-columns: 1fr;
  }
}
